@use "../../mixins" as *;

.burger-wrapper {
  z-index: 250;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 24px;
    // background-color: rgba(255, 0, 0, 0.229);
    transform: translateX(-50%);
  }
  &.is-active {
    .burger {
      @include burger-to-cross();
    }
    & + nav {
      display: block;
    }
  }
  .burger {
    transform: translateY(11px);
    @include burger(20px, 2.5px, 5px);
  }
}
