.burger-wrapper {
  z-index: 250;
  // border: $border;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    // background-color: red;
    transform: translateX(-50%);
  }
  &.is-active {
    .burger {
      @include burger-to-cross();
    }
    & + nav {
      display: block;
    }
  }
  .burger {
    transform: translateY(12px);
    @include burger(30px, 4px, 5px);
  }
}
