@use "../variables" as *;
@use "../mixins" as *;

[data-template="is-infos"] {
  overflow: hidden;
  @media all and (min-width: $md) {
    main {
      padding-top: 0;
      padding-bottom: 0;
      .scrollable {
        height: 100vh;
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
      }
    }
  }
}

.template--infos {
  .cv-group {
    scroll-padding-top: calc(var(--space-md) + toRem(24));
  }
}

@media all and (max-width: $sm) {
  .template--infos {
    .val p {
      text-overflow: ellipsis;
      word-break: break-word;
    }
    .cv-group {
      scroll-margin-top: calc(var(--header-height) * 0.5);
    }
  }
}
