[data-template="is-project"] {
  overflow: hidden;
  .page-layout {
    //padding-top: toRem(24); //toRem(24)
  }
  @media all and (min-width: $md) {
    main {
      padding-top: 0;
      padding-bottom: 0;
      .scrollable {
        height: 100vh;
        padding-top: var(--space-md);
        .sticky.top-md {
          top: 0;
        }
      }
    }
  }
}
.template--project {
  // padding-bottom: var(--space-xl);
  .locale-side-note {
    position: sticky;
    top: var(--space-md);
    top: 0;
    // position: absolute;
    // left: -2em;
  }

  .scrollable {
    padding-bottom: var(--space-xl);
    &.column--text {
      padding-bottom: 182px;
    }
  }
  .total {
    position: absolute;
    top: var(--space-md);
    left: 1.4em;
  }
  .index-wrapper {
    // position: absolute;
    // left: 0;
    // top: 0;
  }
  @media all and (min-width: $md) {
    .media-item {
      // padding-left: 3rem;
      figure {
        flex-shrink: 0;
      }
    }
  }
  // @media all and (max-width: $md) {
  //   .scrollable:first-child {
  //     border-right: var(--border);
  //   }
  // }
}

@media all and (max-width: $md) {
  [data-template="is-project"] {
    overflow: hidden;
    .page-layout {
      padding: 0;
    }
  }
}
